# Warning: Inverted order, last one in file takes priority!

# code changes will send PR to following users
* @SandwichStation/pr-reviewers

# Only allow CentComm Captains to edit these files/folders:
/.github/* @SandwichStation/centcomm-captain

# Only allow CentComm Admirals to edit these files/folders:
/LICENSES/* @SandwichStation/centcomm-admiral

# Only allow CentComm Admirals to edit permissions:
/.github/CODEOWNERS @SandwichStation/centcomm-admiral
